{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'login_style.css' %}">
    </head>
    <body>
        <header>
            <h2>Login</h2>
            <ul id='tags'>
                <li><a href="https://grvenkat40-portfolio.onrender.com/">My Profile</a></li>
                <li><a href="{% url 'blogapp:contact_page' %}">Connect Me</a></li>
            </ul>
        </header>
        <p>Hello User, we are pleased to Welcome you again😊🤝</p>
        <div class="submissionForm">
            <form method="post" action="">
                <label for="userid">User Id</label>
                <input type="email" name="userid" placeholder="User Id" required>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" required>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    
        <p>If you are new, Please <a href="{% url 'blogapp:register_page' %}" id="a">Register First-></a></p>

    </body>
</html>